* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
}

button {
  background: rgb(181, 5, 197);
  color: #fff;
  border-radius: 7rem;
  padding: 1rem;
  border: none;
  font-family: inherit;
  cursor: pointer;
  transition: transform 0.1s linear;
}
button:active {
  box-shadow: 0;
  transform: translate(0px, 3px);
}

#container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.toast {
  padding: 2rem;
  background: rgb(181, 5, 197);
  color: #fff;
  border-radius: 6px;
  margin: 1rem;
}
